@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: lightsteelblue;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}

#output {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
  background-color: #011c33;
  height: 600px;
  overflow-y: scroll;
}
/*# sourceMappingURL=style.css.map */