@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: lightsteelblue;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
}

#output{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    background-color: #011c33;
    height: 600px;
    overflow-y: scroll;
}